<ul [class.clickable]="clickable" [class.deletable]="deletable">
    @if (fullScore) {
        <li
            class="full-score"
            (click)="instrumentClicked(fullScorePart)"
            [class.clicked]="clickedPart === fullScorePart"></li>
    }
    @for (part of parts; track $index) {
        <li
            title="{{getInstrumentTitle(part)}}"
            (click)="instrumentClicked(part)"
            [class.clicked]="clickedPart === part"
            [style.background-image]="'url(' + getImageUrl(part) + ')'"></li>
    }
</ul>