<app-header></app-header>
<app-side-nav></app-side-nav>
<div class="page-content">
    <router-outlet></router-outlet>
</div>
<footer>
    <div>Copyright © L'Ouïe Cinéphile</div>
    <div>Toutes les partitions peuvent être utilisées dans un but non commercial.</div>
    <ul>
        <li><a routerLink="/contact">Contact</a></li>
    </ul>
</footer>
@if (errorMessages.length) {
    <ul class="errors">
        @for (e of errorMessages; track $index) {
            <li>{{e}}</li>
        }
    </ul>
}