@if (errors | async; as errorsArray) {
    <ul class="errors">
        @for (e of errorsArray; track $index) {
            <li [innerHTML]="e"></li>
        }
    </ul>
}
<table>
    <tbody>
        @for (s of scores | async; track $index) {
            <tr>
                <td><a [routerLink]="['/admin/score', {tag:s.tag}]">{{s.title}}</a></td>
                <td rowspan="2">{{s.tag}}</td>
                <td>{{s.band.title}}</td>
            </tr>
            <tr>
                <td>{{s.from}}</td>
                <td><app-star-mark [mark]="s.note"></app-star-mark></td>
            </tr>
        }
    </tbody>
</table>