<ul class="errors" *ngIf="(errors | async) as errorsArray">
    <li *ngFor="let e of errorsArray" [innerHTML]="e"></li>
</ul>
<table>
    <tbody>
        <ng-container *ngFor="let s of scores | async">
            <tr>
                <td><a [routerLink]="['/admin/score', {tag:s.tag}]">{{s.title}}</a></td>
                <td rowspan="2">{{s.tag}}</td>
                <td>{{s.band.title}}</td>
            </tr>
            <tr>
                <td>{{s.from}}</td>
                <td><app-star-mark [mark]="s.note"></app-star-mark></td>
            </tr>
        </ng-container>
    </tbody>
</table>