$color-text: #333;
$color-beige: #ffe3b7;
$color-white: #ffffff;
$color-lightgray: #fcfcfc;
$color-darkgray: #b0b0b0;
$color-gray: #f4f4f4;
$color-darkred: #b60004;
$color-orange: #ffaf00;
$color-shadow: rgba(0, 0, 0, .75);
$color-text-shadow: rgba(0, 0, 0, .8);
$color-facebook: #3B5999;
$color-twitter: #1DA1F2;
