$img-search: './../../assets/images/search.png';
$img-menu: '../../assets/images/burger-menu.png';
$img-facebook-top: '../../assets/images/facebook-top.png';
$img-twitter-top: '../../assets/images/twitter-top.png';
$img-home: '../../assets/images/home-icon.png';
$img-header-winds: '../../assets/images/header-winds.png';
$img-header-strings: '../../assets/images/header-strings.png';
$img-header-winds-white: '../../assets/images/header-winds-white.png';
$img-header-strings-white: '../../assets/images/header-strings-white.png';
$img-add: '../../assets/images/add.png';
$img-bottom-arrow: '../../assets/images/bottom-arrow.png';
$img-right-arrow: '../../assets/images/right-arrow.png';
$img-delete: '../../assets/images/delete.png';
$img-star: '../../assets/images/star.png';
$img-star-black: '../../assets/images/star-black.png';
$img-duration: '../../assets/images/duration.png';
$img-print: '../../assets/images/print.png';
$img-save: '../../assets/images/save.png';
$img-quit: '../../assets/images/quit.png';
$img-portrait: '../../assets/images/portrait.jpg';
$img-separator: '../../assets/images/separator.png';
