<div class="welcome">
    <h3><span>Bienvenue</span> dans ma partothèque !</h3>
    <p>Vous trouverez sur ce site des dizaines d'arrangements pour différents ensembles allant du duo à l'orchestre symphonique.</p>
    <p>Vous pouvez écouter chaque morceau et consulter chaque partition sur la page qui lui est dédiée.</p>
    <p>Tous ces arrangements sont disponibles <strong>gratuitement</strong>, et vous êtes libre d'en faire l'usage que vous voulez.<br/>N'hésitez pas à me tenir au courant : je suis toujours ravi d'apprendre combien mes partitions voyagent !</p>
    <p>Pour demander l'arrangement d'un morceau en particulier, la transposition d'une partition existante, ou juste pour faire coucou, je vous invite à consulter la <a routerLink="/contact">page de contact</a>.</p>
</div>
<div class="news">
    @for (n of latestNews | async; track $index) {
        <div>
            <!--<div class="news-header">
                <div class="news-date">{{n.date | datefr: 'd MMMM y'}}</div>
                <h4 class="news-title" [innerHTML]="n.title | safe"></h4>
            </div>-->
            <div class="news-content">
                <img src="assets/15340059192.png" height="180" style="float: left; margin-right: 10px">
                <p><em>Chef d’orchestre à Boston, Gael Cannon est envoyé au Népal à la recherche de la viole de Maggini. De nombreux mystères entourent cet objet aux pouvoirs… vite inquiétants.<br>De retour à Boston, Gael découvre que cette viole est l’un des cinq instruments enchantés pour lesquels le fameux compositeur russe Tchaïkovsky aurait écrit une mystérieuse Dernière Symphonie.<br>Débute alors une quête entre passion pour la musique et phénomènes fantastiques. Faut-il vraiment retrouver et réunir les cinq instruments ? Quels sont les véritables pouvoirs de cette symphonie prophétique ?</em></p>
                <p><strong>Philharmonia</strong>, de <strong>Nicolas Lethuillier</strong>, un roman fantastique dans l'univers de la musique, <strong><a href="https://www.amazon.fr/Philharmonia-Nicolas-Lethuillier/dp/1718016263/" target="_blank">en vente sur Amazon</a></strong> !</p>
            </div>
        </div>
    }
</div>
<div class="latest-scores">
    <h3>Derniers arrangements</h3>
    <div class="latest-block">
        @for (score of latestScores | async; track $index) {
            <a [routerLink]="'/score/' + score.tag">
                <div class="score-bg" [style.background-image]="'url(' + getBgImage(score) + ')'"></div>
                <span class="title">{{score.title}}</span>
                @if (score.from && score.from != score.title) {
                    <span class="from">{{score.from}}</span>
                }
                <div class="parts">
                    @if (score.band) {
                        <span class="band">{{score.band.title}}</span>
                    }
                    <app-instrument-icons [parts]="score.parts"></app-instrument-icons>
                </div>
            </a>
        }
    </div>
</div>