<div class="cv">
    <div class="portrait"></div>
    <div class="names">
        <div class="firstname">Nicolas</div>
        <div class="name">Lethuillier</div>
    </div>
    <div class="work">Ingénieur informatique<br/>Ecrivain</div>
    <div class="music">
        <img src="./assets/images/instruments/clarinet.png" class="clarinet-img" />
        <img src="./assets/images/instruments/violin.png" class="violin-img" />
        <ul>
            <li class="clarinet">Clarinette</li>
            <li class="violin">Violon</li>
            <li class="ocarina">Ocarina</li>
            <li class="gemshorn">Gemshorn</li>
            <li class="hulusi">Hulusi</li>
            <li class="xaphoon">Xaphoon</li>
            <li class="xaphoon">Erhu</li>
            <li class="xaphoon">Tin whistle</li>
            <li class="xaphoon">Bombarde</li>
            <li class="xaphoon">Pibgorn</li>
        </ul>
    </div>
    <div>
        <a href="https://www.facebook.com/nicolas.lethuillier.75" class="personal-facebook">Nicolas Lethuillier</a>
    </div>
</div>
<div class="contact">
    <p><strong>L'Ouïe Cinéphile</strong> est sur :</p>
    <div class="socials">
        <a class="facebook" href="https://www.facebook.com/louiecinephile/"></a>
        <a class="twitter" href="https://twitter.com/Louiecinephile"></a>
    </div>
    <p>Mais on peut aussi m'écrire <a href="mailto:contact@louiecinephile.fr">un email</a>,<br/>m'envoyer une carte postale,<br/>un pigeon voyageur,<br/>etc.</p>
    <p class="details">Je peux transposer à la demande les arrangements présents sur ce site.<br/>Je peux également faire des arrangements à la demande, mais dans la limite du temps que j'ai à y consacrer (qui est très rare).</p>
</div>