@import '../../shared/styles/theme';

@media screen and (min-width: $large-width) {
    form {
        float: left;
        width: 240px;
        display: block;
        margin-right: 10px;

        > * {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
    
    .search-results {
        @include columned-flex(3, 16px);
    }
}