@import '~@ngx-share/button/themes/default/default-theme';
@import './shared/styles/colors';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
    background-color: #fcfcfc;
    background-image: url(./assets/images/musicsheet.jpg);
    height: calc(100% - 35px);
}

@media screen and (min-width: 768px) {
    html {
        height: 100%;
    }

    body {
        height: calc(100% - 70px);
    }
}

* {
    outline: 0;
    color: $color-text;
}

a {
    color: $color-darkred;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input[type='button'],
button {
    border: 0;
}

.page-content {
    input {
        &[type=text] {
            height: 40px;
            padding: 5px 10px;
        }
    }
}